.wrapper {
    margin: 0 auto;
}
.zoom-effect-container {
    float: left;
    position: relative;
    height: 580px;
    margin: 0 auto;
    overflow: hidden;
}

.image-card img {
  -webkit-transition: 0.4s ease;
  transition: 0.4s ease;
}



.overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: .1s ease;
    background-color: #f63700;
    z-index: 100;
}
.wrapper:hover .overlay {
    opacity: 0.7;
}
.wrapper:hover .text {
    opacity: 0;
}
.wrapper:hover .image-card img {
    -webkit-transform: scale(1.12);
    transform: scale(1.12);
  }
      
      