#depBox3 {
    z-index: 4;
    height: 220px;
    box-shadow: 12px 12px 9px #7b9fff;
}
#depBox3:hover img {
    filter: blur(2.3px);
}
.buttonStrategy {
    position: absolute;
    left: 42%;
    top: 110%;
    opacity: 1;
}

#depBox3:hover .buttonStrategy {
    opacity: 1;
    z-index: 10000;
    animation: buttonSlideUp .3s ease-in-out;
    animation-fill-mode: forwards;
}

@keyframes buttonSlideUp{
    from {
        top: 110%;
    }
    to {
        top: 45%;
    }
}