#depBox3 {
    z-index: 4;
    height: 220px;
    box-shadow: 12px 12px 9px black;
}
#depBox3:hover img {
    filter: blur(2.3px);
}
.buttonStrategy {
    position: absolute;
    left: 38%;
    top: 110%;
    opacity: 1;
    background-color: white;
    color: #f63700;
    padding: 8px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    border: 2px solid #f63700;
}

#depBox3:hover .buttonStrategy {
    opacity: 1;
    z-index: 10000;
    animation: buttonSlideUp .3s ease-in-out;
    animation-fill-mode: forwards;
}

@keyframes buttonSlideUp{
    from {
        top: 110%;
    }
    to {
        top: 45%;
    }
}