#depBox1 {
    z-index: 4;
    box-shadow: 12px 12px 9px #7b9fff;
    height: 220px;
}

.buttonMovie {
    position: absolute;
    left: 39%;
    top: 110%;
    opacity: 1;
}

#depBox1:hover img {
    filter: blur(2.3px);
}
#depBox1:hover .buttonMovie {
    opacity: 1;
    z-index: 10000;
    animation: buttonSlideUp .3s ease-in-out;
    animation-fill-mode: forwards;
}

@keyframes buttonSlideUp{
    from {
        top: 110%;
    }
    to {
        top: 45%;
    }
}